@import "tailwindcss";
@config "../tailwind.config.js";

/* Basic reset if needed, though Tailwind handles most */
body {
  @apply bg-journal-50 text-journal-900 antialiased;
}

/* Hide native browser password reveal and clear buttons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
